body {
    background-color: #f2f4f8;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
}

h1, h2, h3, h4, h5 {
    color: #0d79e5;
    text-align: center;
    margin: 15px 0;
}

p1 {
    color: #0d79e5;
    text-align: center;
    margin: 50px;
    font-size: 20px;
    border: solid black;
    border-radius: 20px;
}

p{
    color: #0d79e5;
    text-align: center;
    margin: 50px;
    font-size: 20px;
    border: solid black;
    border-radius: 20px;
}